* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-broun {
  background-color: #dbd0cc;
}
.text-broun {
  color: #a86a3d;
  max-width: 410px;
}
.w-fit {
  width: fit-content;
}
.bg_white {
  background-color: #ffffffa8;
}
.form-control:focus {
  box-shadow: none;
  border-color: #a86a3d;

}
.form-control::placeholder {
  color: #a86a3d;
}
.btn-dark {
  background-color: #a86a3d !important;
  border-color: #a86a3d;
  border: #a86a3d !important;
}
.border-dark{
  border-color: #a86a3d !important;
}
input{
 
  color: #a86a3d !important;
}
.bg-color{
  background-color: #323334;
}
.text_home{
  color: #a86a3d !important;
}